{% extends "general/layout.html" %}

{% block head_title %}Bienvenidos RedSocial{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>Home</h1>
        <p>Bienvenidos a Red Social</p>
        <section >
            <h2>Ultimas publicaciones</h2>
            <div class="row">
                {% for post in last_posts %}
                    <div class="col-12 col-sm-6 col-md-4 h-100 d-flex">
                        {% include '_includes/posts/_post.html' %}
                    </div>
                {% endfor %}
            </div>
            
            
        </section>
    </div>
{% endblock %}